<div class="photos-container">
  {{#each photos as |photo index|}}
    <div class="crop-img crop-img-{{index}}">
      <img src="{{photo}}" alt="Foto Remanso del Rodeo {{index}}" class="photo">
    </div>
  {{/each}}
</div>



{{yield}}