<img src="assets/recortes/Remanso-07.png" alt="Información del bono para Remanso del rodeo" class="bonus-info">

<div class="form">
  <p class="info">
    ¡DÉJANOS TUS DATOS Y TE
    <br>
    <strong>MANTENDREMOS INFORMADO!</strong>
  </p>
  {{contact-form id="subscribe-form"}}
</div>
{{yield}}