$dark-brown: #46200d;
$darken-dark-brown: darken($dark-brown, 3%);
$white: #ffffff;
$darken-white: darken($white, 10%);;
$brown: #b25d31;
$gray: #e7e7e7;
$light-black: #3e3e3e;
$white-2: #f5f5f5;
$orange: #c85b30;
