@import "./font-faces";
@import "./styles";

@import "./components/input-group";
@import "./components/main-header";
@import "./components/subscribe-form";

#subscribirse {
  padding: 1em;
}

#proyecto {
  padding: 1em;
  .project-image {
    display: none;
  }
  .places {
    font-style: italic;
  }
}
