@import "./variables";
@import "./colors";

body {
  font-family: $PTSans;
}

a[href] {
  font-family: $PTSans;
  font-weight: bold;
  font-stretch: condensed;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $darken-white;
    font-weight: bolder;
  }
}

button {
  font-family: $PTSans;
  font-weight: bold;
  font-stretch: condensed;
  color: $white;
  background-color: $dark-brown;
  text-transform: uppercase;
  border-style: none;
  border-radius: 0.3em;
  padding: 0.5em 0.8em;
  margin: auto;

  &:hover {
    background-color: $darken-dark-brown;
    color: $darken-white;
    cursor: pointer;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week "],
textarea {
  border-style: none;
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  &::placeholder {
    font-size: 0.8em;
  }
}
