@import "../colors";

.subscribe-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  @include for-size(tablet-portrait-up) {
    flex-direction: row;
  };

  .bonus-info {
    width: 100%;
    height: auto;
    @include for-size(tablet-portrait-up) {
      width: 50%;
    };
  }

  .form {
    width: calc(100% - 3em);
    background-color: $brown;
    border-radius: 0 0 2.5em 0;
    text-align: center;
    padding: 0.5em 1.5em 1em;

    @include for-size(tablet-portrait-up) {
      width: calc(50% - 3em);
    };

    .info {
      color: $dark-brown;
      font-size: 1em;
    }
  }
}
