{{main-header}}

<div id="subscribirse">
  {{subscribe-form}}
</div>

<div id="proyecto">
  <div class="project-image"></div>
  <div class="project-content">
    <h2 class="title">Proyecto</h2>
    <div class="text">
      <p>
        Remanso del Rodeo, un proyecto ubicado en Belén, sector Rodeo Alto, un
        lugar exclusivo con entorno campestre, excelente valorización y una vista
        inigualable sobre Rodeo Alto y gran parte de la ciudad de Medellín.
      </p>
      <p>
        Cuenta con beneficios únicos de movilidad, cercanía a lugares
        comerciales, además de tener diferentes vías de acceso.
      </p>
      <p>
        <span class="list-title">Cercano a:</span>
        <ul class="places">
          <li>Clínica las Américas</li>
          <li>Club el Rodeo</li>
          <li>Carrera 80</li>
          <li>Guayabal</li>
          <li>La Mota</li>
          <li>Aeropuerto Olaya Herrera</li>
          <li>Parque Juan Pablo II</li>
          <li>Sector Comercial Guayabal</li>
          <li>Éxito de la Gran Vía</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="common-zones">
    <h3 class="title">Zonas Comunes</h3>
    <p class="subtitle">Un lugar exclusivo para brindarte a ti y a tu familia todo lo que necesitan.</p>
    <div class="common-zones-images">
      <img src="/assets/recortes/Remanso-10.png" alt="Portería 24 horas" class="common-zone">
      <img src="/assets/recortes/Remanso-11.png" alt="Salón social" class="common-zone">
      <img src="/assets/recortes/Remanso-12.png" alt="Circuito cerrado de televisión" class="common-zone">
      <img src="/assets/recortes/Remanso-13.png" alt="Parqueadero para visitantes" class="common-zone">
      <img src="/assets/recortes/Remanso-14.png" alt="Juegos infantiles" class="common-zone">
      <img src="/assets/recortes/Remanso-15.png" alt="Gimnasio semidotado" class="common-zone">
      <img src="/assets/recortes/Remanso-16.png" alt="Piscina de adultos y niños" class="common-zone">
      <img src="/assets/recortes/Remanso-17.png" alt="Cancha multifuncional recreativa" class="common-zone">
    </div>
  </div>
</div>

{{outlet}}