{{main-header}}

<div id="subscribirse">
  {{subscribe-form}}
</div>

<div id="proyecto">
  <div class="project-image"></div>
  <div class="project-content">
    <h2 class="title">Proyecto</h2>
    <div class="text">
      <p>
        Remanso del Rodeo, un proyecto ubicado en Belén, sector Rodeo Alto, un
        lugar exclusivo con entorno campestre, excelente valorización y una vista
        inigualable sobre Rodeo Alto y gran parte de la ciudad de Medellín.
      </p>
      <p>
        Cuenta con beneficios únicos de movilidad, cercanía a lugares
        comerciales, además de tener diferentes vías de acceso.
      </p>
      <p>
        <span class="list-title">Cercano a:</span>
        <ul class="places">
          <li>Clínica las Américas</li>
          <li>Club el Rodeo</li>
          <li>Carrera 80</li>
          <li>Guayabal</li>
          <li>La Mota</li>
          <li>Aeropuerto Olaya Herrera</li>
          <li>Parque Juan Pablo II</li>
          <li>Sector Comercial Guayabal</li>
          <li>Éxito de la Gran Vía</li>
        </ul>
      </p>
    </div>
  </div>
</div>

{{outlet}}